.oitava-aula-rejuvenescedor-component {
  padding: 25px;

  form {
    
    label {
      margin-right: 5px;
    }

    input {
      margin-right: 5px;
      padding: 0 5px;
      border-radius: 12px;
      line-height: 1.5rem;
      color: black;
    }

    button {
      padding: 5px;
      border-radius: 12px;
      background-color: blueviolet;
    }
  }
}