.main-layout-component {

  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-areas:
    'header header'
    'aside main';
  gap: 12px;

  .main-layout-component-header {
    padding: 42px; 
    grid-area: header;  
  }

  .main-layout-component-aside {
    margin: 0 0 12px 12px;
    padding: 42px;
    grid-area: aside;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 12px;

    h2 {
      margin-bottom: 12px;
    }

    ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 10px;

      a {
        text-decoration: none;
        opacity: .8;
      }
    }
  }

  .main-layout-component-main {
    margin: 0 12px 12px 0;
    padding: 42px;
    min-height: calc(100vh - 132px - 24px);
    grid-area: main;
    border-radius: 12px;
  }

  &.dark {
    .main-layout-component-header,
    .main-layout-component-aside {
      background: #404040;
    }
    
    .main-layout-component-main {
      background-color: #505050;
    }
  }

  &.light {

    .main-layout-component-header {
      background: #818181;
    }

    .main-layout-component-aside {
      background: #929292;
    }
    
    .main-layout-component-main {
      background: #5c5c5c;
    }

  }

  &.high-contrast {
    background: #404040;

    h1,
    h2 {
      color: yellow;
    }

    a {
      color: hotpink
    }

    .main-layout-component-header,
    .main-layout-component-aside,
    .main-layout-component-main {
      background: #000000;
    }

  }

}