.decima-terceira-aula-component {
  padding: 50px;

  h2 {
    margin-bottom: 20px;
  }

  ol {
    margin-bottom: 20px;
    list-style: decimal inside;
  }

  button {
    padding: 0 10px;
    line-height: 2rem;
  }

}